li.list-group-item {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    background: hsl(54, 65%, 98%);
}
span.hide{
    
        display: none;
    
}
button.btn.btn {
    margin: 10px;
}