<div class="container-fluid skin">
  <div class="row">
    <div class="col-2 border">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-create-tab" data-toggle="pill" href="#v-pills-create" role="tab"
          aria-controls="v-pills-create" aria-selected="true">Create thời khóa biểu</a>
        <a class="nav-link" id="v-pills-addgv-tab" data-toggle="pill" href="#v-pills-addgv" role="tab"
          aria-controls="v-pills-add" aria-selected="false"> Giáo Viên</a>
        <a class="nav-link" id="v-pills-class-tab" data-toggle="pill" href="#v-pills-class" role="tab"
          aria-controls="v-pills-class" aria-selected="false"> Class</a>
        <a class="nav-link" id="v-pills-mon-tab" data-toggle="pill" href="#v-pills-mon" role="tab"
          aria-controls="v-pills-mon" aria-selected="false"> Môn</a>

      </div>
    </div>


    <div class="col-10 border">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-create" role="tabpanel" aria-labelledby="v-pills-del-tab">...
        </div>
         
        <div class="tab-pane fade " id="v-pills-addgv" role="tabpanel" aria-labelledby="v-pills-add-tab">
          <form>
           
            <div class="form-row">

              <div class="form-group col-md-4">
                <label class="Title"><i class="fas fa-user"></i>Tên Giáo Viên</label>
                <input type="text" class="form-control" placeholder=" Nhập Tên Giáo Viên" [(ngModel)]="formGV.tengv"
                  name="first">
              </div>
            
            
              <div class="form-group col-md-4">
                <label class="Title"><i class="fas fa-street-view"></i>Street </label>
                <input type="text" class="form-control" placeholder=" Nhập Street" [(ngModel)]="formGV.diachi" name="second">
              </div>
            </div>  

            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="Title"><i class="fas fa-envelope"></i>Email</label>
                <input type="text" class="form-control" id="mail" placeholder="Nhập Email" [(ngModel)]="formGV.email" name="thirty">
              </div>
           
            
              <div class="form-group col-md-4">
                <label class="Title"><i class="fas fa-book"></i>Chuyên Môn</label>
                <select id="id_chuyenmon" class="form-control" [(ngModel)]="chuyenmon" #ctrl="ngModel" required
                  [ngModelOptions]="{name: 'id_mon'}">
                  <option selected>Chuyên Môn</option>
                  <ng-container *ngFor="let i of Mon">
                    <option>
                      {{i.id_mon}}.{{i.tenmon}}
                    </option>
                  </ng-container>

                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary custom" (click)="Savegv()"> <i class="fas fa-user-plus"></i>Thêm giáo viên</button>
          </form>
          <!--end Form-->
          <div class="form-row">

            <div class="col-3" *ngFor="let i of giaovien">
              <ul class="list-group">
                <div>
                  <li class="list-group-item show"><i class="fas fa-user"></i> <span class="hide">{{i.id_giaovien}} </span> {{i.tengv}}
                  </li><button type="button" class="btn btn-danger custom" (click)="delGiaovien(i.id_giaovien)"><i class="fas fa-trash-alt"></i>Xóa</button>
                  <button type="button" class="btn btn-info custom" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fas fa-clipboard"></i>Sửa</button>
                </div>

              </ul>
              <!--modal-->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Sửa Thông Tin</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-row">

                        <div class="form-group col-md-6">
                          <label>Tên Giáo Viên</label>
                          <input type="text" class="form-control" placeholder="Tên Giáo Viên" [(ngModel)]="formGV.tengv"
                            name="mfirst">
                        </div>
                      
                      
                        <div class="form-group col-md-6">
                          <label>Street </label>
                          <input type="text" class="form-control" placeholder="Street" [(ngModel)]="formGV.diachi" name="msecond">
                        </div>
                      </div>  
          
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Email</label>
                          <input type="text" class="form-control" id="mail" [(ngModel)]="formGV.email" name="mthirty">
                        </div>
                     
                      
                        <div class="form-group col-md-6">
                          <label>Chuyên Môn</label>
                          <select id="id_chuyenmon" class="form-control" [(ngModel)]="chuyenmon" #ctrl="ngModel" required
                            [ngModelOptions]="{name: 'm.id_mon'}">
                            <option selected>Chuyên Môn</option>
                            <ng-container *ngFor="let i of Mon">
                              <option>
                                {{i.id_mon}}.{{i.tenmon}}
                              </option>
                            </ng-container>
          
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
               </div> <!--end modal sửa-->
            </div>
          </div><!-- end class giaovien -->
        </div>
        <div class="tab-pane fade" id="v-pills-class" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <form>
            <div class="form-row">


              <div class="form-group col-md-2">
                <label><i class="fas fa-book"></i>Chuyên Môn</label>
                <select id="id_khoi" class="form-control" [(ngModel)]="tenkhoi" #ctrl="ngModel" required
                  [ngModelOptions]="{name: 'id_khoi'}">
                  <option selected><i class="fas fa-book"></i>Chuyên Môn</option>
                  <ng-container *ngFor="let g of khoi">
                    <option>
                      {{g.id_khoi}}.{{g.tenkhoi}}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label><i class="fas fa-door-open"></i>Tên Lớp</label>
                <input type="text" class="form-control" id="mail" [(ngModel)]="formLop.tenlop" name="six">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveLop()"><i class="fas fa-plus"></i>Thêm Lớp</button>
          </form>
          <!-- end Thêm class -->
          <div class="row">
            <div class="col-3" *ngFor="let l of lop">
              <ul class="list-group">
                <div>
                  <li class="list-group-item"><span class="hide">{{l.id_lop}} </span>{{l.tenlop}}

                  </li>
                  <button type="button" class="btn btn-danger custom" (click)="delLop(l.id_lop)"><i class="fas fa-trash-alt"></i>Xóa</button>
                </div>

              </ul>

            </div>
          </div>
        </div>
         <div class="tab-pane fade" id="v-pills-mon" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        
          <!-- <form>
            <div class="form-row">

              <div class="form-group col-md-2">
                <label><i class="fas fa-book"></i>Tên Môn</label>
                <input type="text" class="form-control"  [(ngModel)]="formMon.tenmon" name="six">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveMon()"><i class="fas fa-plus"></i>Thêm môn</button>
          </form> -->
          <!-- end class class -->
          <div class="row">
            <div class="col-3" *ngFor="let c of Mon">
              <ul class="list-group">
                <div>
                  <li class="list-group-item"><span class="hide">{{c.id_mon}} </span>{{c.tenmon}}

                  </li>
                  <button type="button" class="btn btn-danger custom" ><i class="fas fa-trash-alt"></i>Xóa</button>
                </div>

              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
